@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #fff;
}

body {
    background-color: black;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h3 {
    font-size: 3em;
    color: #7fcc2b;
}

.banner .content p {
    font-size: 1em;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color:  #7fcc2b;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #7fcc2b
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    font-size: 2em;
    color: #7fcc2b;
}


.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%;
}

.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.places .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;

}

.places .content .box .imgBx {
    width: 310px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.testing .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testing .content .box {
    width: 250px;
    margin: 15px;
}

.testing .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.clothing {
    background: black;
    background-size: cover;
}

.clothing .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.clothing .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clothing .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.clothing .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clothing .content .box .text {
    text-align: center;

}

.clothing .content .box .text p {
    color: #666;
    font-style: italic;
}

.clothing .content .box .text h4 {
    margin-top: 20px;
    color: #7fcc2b;
    font-size: 1em;
    font-weight: 600;
}

.contactForm {
    padding: 75px 50px;
    background: white;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 380px;
    margin-top: 50px;
}

.contactForm h4 {
    color: #7fcc2b;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"] {
    font: 1em;
    color: #fff;
    background: #7fcc2b;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    header, 
    header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: black;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: black;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
